.lista {
    list-style: none;
    padding: 0;
}

main {
    margin-top: 110px;
    min-height: 100vh;
<<<<<<< HEAD
    background: rgb(25,64,90);
    background: linear-gradient(180deg, rgba(25,64,90,1) 0%, rgba(14,38,54,1) 49%, rgba(14,38,54,1) 100%);
}

nav{
    background-color: #171a21;
}

footer{
    background-color: #1c3a50;
=======
    background: rgb(25, 64, 90);
    background: linear-gradient(180deg, rgba(25, 64, 90, 1) 0%, rgba(14, 38, 54, 1) 49%, rgba(14, 38, 54, 1) 100%);
}

nav {
    background: #171a21;
}

footer {
    background: #171a21;
>>>>>>> 8cde3f599dd0fd421852a1d0acd12ab29ae48de6
}

.botonAgregar{
    margin-left: 1000px;
}