.lista{
    list-style: none;
    padding: 0;
}

main{
    margin-top: 110px;
    min-height: 100vh;
    background: rgb(25,64,90);
    background: linear-gradient(180deg, rgba(25,64,90,1) 0%, rgba(14,38,54,1) 49%, rgba(14,38,54,1) 100%);
}

nav{
    background-color: #171a21;
}

footer{
    background-color: #1c3a50;
}
