@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
* {
    font-family: 'Quattrocento Sans', sans-serif;
}

.lista {
    list-style: none;
    padding: 0;
}

body {
    margin-top: 110px;
    min-height: 100vh;
<<<<<<< HEAD
    background: rgb(25,64,90);
    background: linear-gradient(180deg, rgba(25,64,90,1) 0%, rgba(14,38,54,1) 49%, rgba(14,38,54,1) 100%);
}

nav{
    background-color: #171a21;
}

footer{
    background-color: #1c3a50;
=======
    background: rgb(25, 64, 90);
    background: linear-gradient(180deg, rgba(25, 64, 90, 1) 0%, rgba(14, 38, 54, 1) 49%, rgba(14, 38, 54, 1) 100%);
}

nav {
    background: #171a21;
}

footer {
    background: #171a21;
}

.botonAgregar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
>>>>>>> 1159ef416c7e3c55e6199d5bc7d9c80b03c007ed
}

.bg-destacado {
    background-color: #0a141d;
}

.bo-destacado {
    border-radius: 75%;
}

.hrs {
    color: azure;
}

.ml {
    margin-left: 70px;
}

.fuenteDetalle {
    font-size: 87%;
}

.fuenteDetalleColor1 {
    color: #556772;
}

.fuenteDetalleColor2 {
    color: #66c0f4;
}

.fuenteDetalleColor3 {
    color: #8f98a0;
}

.textLink {
    text-decoration: none;
    color: #8f98a0;
}

.textLink:hover {
    text-decoration: none;
    color: #f5f5f5;
}

.bg-modal {
    background: rgb(34, 34, 34);
    background: linear-gradient(90deg, rgba(34, 34, 34, 0.5410539215686274) 0%, rgba(31, 31, 31, 1) 35%, rgba(22, 22, 22, 1) 100%);
}